:root {
    --bg_color: #fff;
    --main_font: 'Outfit', sans-serif;
    --font_weight: 400;
    --primary_text_color: #111213;
    --secondary_text_color: #666;
    --font_size: 16px;
    --header_font_weight: 500;
    --accent_color: #FFA832;
    --blue_color: #007aff;
}