.body {
    width: 100%;
    display: flex;
    .sidebar {
        width: 25%;
        padding-right: 20px;
        & > div {
            margin-top: 15px;
            border-bottom: 1px solid #e0e0e0;
        }
        & > div:last-child {
            border-bottom: none;
        }
        .filter {
            .controls {
                margin-top: 10px;
                display: flex;
                gap: 10px;
                .el {
                    & label {
                        font-size: .8em;
                        color: var(--text2);
                        margin-bottom: 5px;
                        display: block;
                    }
                    & input {
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #e0e0e0;
                        border-radius: 5px;
                        margin-bottom: 10px;
                    }
                }
            }
            .bottom {
                margin-top: 20px;
                margin-bottom: 15px;
            }
        }
        .categories {
            & > div {
                display: flex;
                gap: 5px;
                margin-top: 5px;
                font-weight: 500;
            }
        }
    }
    .products {
        margin-top: 15px;
        width: 75%;
        .banner {
            width: 100%;
            height: 280px;
            background-image: url("../img/banner.jpg");
            background-size: cover;
            background-position: center;
            padding: 25px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            & span {
                background-color: #ffedd5;
                color: #81361a;
                font-weight: bold;
                font-size: .7em;
                padding: 5px 10px;
                border-radius: 25px;
            }
            & h1 {
                margin-top: 10px;
                color: #000
            }
            & p {
                margin-top: 10px;
                color: var(--text2);
                font-size: .9em;
            }
            & a {
                display: inline-block;
                margin-top: 15px;
                color: black;
                text-decoration: none;
                background-color: #fff;
                padding: 10px 20px;
                border-radius: 25px;
                font-size: .8em;
                border: 1px solid #e0e0e0;
                font-weight: 600;
                transition: background-color .3s;
            }
            & a:hover {
                background-color: #f3f4f6;
            }
        }
        .list {
            margin-top: 15px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 5px;
            .product {
                border: 1px solid #e0e0e0;
                padding: 10px;
                border-radius: 5px;
                position: relative;
                cursor: pointer;
                transition: ease all .3s;
                .img {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & img {
                        width: 100%;
                        height: 150px;
                        object-fit: contain;
                    }
                }
                .name {
                    display: inline-block;
                    margin-top: 10px;
                    font-weight: 500;
                    font-size: .9em;
                    height: 35px;
                    color: var(--text);
                    text-decoration: none;
                }
                .name:hover {
                    color: #dc2626;
                }
                .price {
                    color: #dc2626;
                    font-weight: 600;
                    font-size: 1.2em;
                    & span {
                        font-size: .8em;
                        font-weight: 400;
                        color: var(--text);
                        text-decoration: line-through;
                    }
                }
                .discount {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    background-color: #dc2626;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 5px 10px 10px 5px;
                    font-size: .7em;
                }
            }
            .product:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                transform: translateY(-5px);
            }
        }
    }
}

@media(max-width: 1100px){
    .body {
        .sidebar {
            display: none;
        }
        .products {
            width: 100%;
        }
    }
}

@media(max-width: 762px){
    .body {
        .products {
            .list {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}