:root {
    --bg: #fff;
    --bg2: #f3f4f6;
    --text: #333;
    --text2: #6b7280;
    --primary: #634c9f;
    --secondary: #ea580c;
    --border_color: #e0e0e0;;
    --toggle: #333;
}

body.dark {
    --bg: #1e1c21;
    --bg2: #2d2b30;
    --text: #fff;
    --text2: #9ca3af;
    --border_color: #3d3d3d;
    --toggle: #fff;
}