/* Import variables */
@import url("./variables.css");

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font1);
}

/* Container */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    .left {
        width: 30%;
        position: sticky;
        top: 0;
        height: 100vh;
        /* display: flex;
        align-items: center; */
    }
    .right {
        width: 60%;
    }
}

@media (max-width: 1000px){
    .container {
        flex-direction: column;
        .left {
            position: relative;
            width: 100%;
            height: auto;
        }
        .right {
            width: 100%;
        }
    }
}