:root {
    --bg: #061d1e;
    --bg2: #1f3435;
    --bg3: #4c5d5d;
    --primary: #ffae00;
    --text: #fff;
    --text2: #d2d6d6;
    --font1: "Figtree", sans-serif;
    --font2: "Playfair Display", serif;
    --img_filter: invert(0);
    --orange_filter: brightness(0.7) saturate(100%) sepia(1) hue-rotate(-30deg) saturate(500%);
    --border: 1px solid rgba(255, 255, 255, .1);
}

body.light {
    --bg: #fff;
    --bg2: #f2f3f3;
    --bg3: #d9dddd;
    --primary: #ffae00;
    --text: #0e161f;
    --text2: #3d444b;
    --img_filter: invert(1);
    --border: 1px solid rgba(0, 0, 0, .1);
}